*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

h1{
    display: block;
    width: 100%;
    height: 40vh;
    text-align: center;
    line-height: 40vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-size: 3.5em;
    font-weight: normal;
}

h1#pieHeader{
    background-image: url("../starter-code/apple-pie-starter-code/images/header.jpg");
}

h1#soupHeader{
    background-image: url("../starter-code/french-onion-soup-starter-code/images/header.jpg");
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 4em 2em;;
}

section.description{
    font-size: 1.3em;
    font-weight: 100;
}

.description>img, .ingredients>img{
    width: 400px;
    display: block;
    margin: 1.3em auto;
}

.ingredients>h2, .directions>h2{
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.7em;
}

ul, ol{
    margin-left: 10px;
    list-style-type: none;
}

hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;
}