/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
header{
  background-image: url('../images/soup.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.linea{
  border: 1px solid gray;
  width: 85%;
  margin-top: 20px;
}
header h1{
  color: white;
  text-align: center;
  padding-top: 20%;
  font-size: 70px;
  font-weight: lighter;
}
#description p{
  text-align:start;
  font-size: 25px;
  max-width: 85%;
  margin-left: 10%;
  margin-top: 70px;
  color: gray;
}
.info{
  display: flex;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}
#Ingredients ul{
  margin-left: 8%;
  max-width: 40%;
  list-style-type: " - ";
}
#Ingredients h3{
  margin-left: 10%;
}
#linea-receta{
  margin-top: 30px;
}
#Directions ol{
  margin-left: 9%;
  max-width: 80%;
  list-style:decimal;
  margin-top: 4%;
}
#Directions h3{
  margin-left: 10%;
}
