/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5;
}

/* STYLES */
/* Write your CSS below */

#header-image {
  position: relative;
  display: block;
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  font-size: 100px;
  text-align: center;
}

#header-text {
  text-align: center;
  font-size: 20px;
}

div {
  margin: 50px 100px 50px 100px;
}

.recipe-details {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-items: center;
}

hr {
  margin: 20px 100px 20px 100px;
 
}

ul {
  list-style-type: "- ";
  padding: 20px 40px 20px 40px;
}

ol {
  padding: 20px 40px 20px 40px;
  list-style-type: none; /* Remove default list numbering */
  counter-reset: my-counter; /* Reset the counter for custom numbering */
}

ol li {
  counter-increment: my-counter; /* Increment the counter for each list item */
  margin-bottom: 10px; /* Optional: Add some spacing between list items */
}

ol li::before {
  content: counter(my-counter) ") ";
}