body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  line-height: 1,5;
}header {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-position: center center;
  padding: 180px 0 250px;
}h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: lighter;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}main {
  max-width: 75%;
  padding: 25px;
  margin: 0 auto;
}p {
  font-size: 20px;
}main img {
  display: block;
  margin: 32px auto;
  width: 70%;
}ul {
  padding-left: 15px;
}ol {
  padding-left: 10px;
}ul li {
  list-style-type: '-';
}ol li {
  list-style: none;
  counter-increment: unordered-list-item;
}ol li:before {
  content: counter(unordered-list-item) ')';
}
