@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background-color: white;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

.header {
  background-image: url(src=images);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
  position: relative;


header h1 {
    text-align: center;
    color: yellowgreen;
    font-size: 7em;
}

h2 {
font-size: 18px;
}





#recipe, p { 
color: black;
font-size: 22px;
width: 66%;
}

#recipe img { 
width: 30%;
}

#ingredients ul {
color: black;
font-size: 19px;
}

#ingredients, img { 
width: 45%;
}

