body {
font-family: "Roboto";
background-color: white;
}

h2 {
font-size: 18px;
}


.apple-pie h1 {
    text-align: center;
    color: yellowgreen;
    font-size: 40px;
}


#recipe, p { 
color: black;
font-size: 22px;
width: 66%;
}

#recipe img { 
width: 30%;
}

#ingredients ul {
color: black;
font-size: 19px;
}

#ingredients, img { 
width: 45%;
}

