body {
  font-family: "Roboto";
  background-color: yellowgreen;
  width: 100%;
  height: 100%;
}

#apple-pie h1 {
  color: white;
  text-align: center;
  font-weight: 100px;
 }


h2 {
font-size: 18px;
}

#ingredients ul {
  color: black;
  font-size: 19px;
}

#directions p {
  color: black;
  font-size: 19px;
  width:  43.5%;
}

.recipe-info {
  align-items: center;
  width:  43.5%;
  
}



/*.background-image {
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}
  /*padding-top: 10px;
  position: relative;
  box-sizing: border-box*/


/*
body {
  font-family: "Roboto";
}

.background-image {
  background-repeat: no-repeat;
  background-position: left;
  box-sizing: border-box;
  width: 800px;
  height: 500px;
}


.background-image {
 width: 100%;
 border-style: none;
 background-color: white;

 h1 {
color: darkred;
text-align: center;
}

h3 {
font-size: 17px
}

.background-image {
  background-image: url(https://static.npmjs.com/attachments/ck3uwvv67mydydr74ea00ip4j-bg-stripes.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  position: relative;
  box-sizing: border-box;

}





  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}
  padding-top: 10px;
  position: relative;
  box-sizing: border-box*/