/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
header{
	width: 100%;
	height: 600px;
  background-image: url("../images/soup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height:500px;
  font-size: 35px;
  color: white;
  box-sizing: border-box;
}


 main{
	padding:100px;
	padding-top:80px;
	}

 .timer {
	text-align: center;
	}

 .title {
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}



 ul, ol {
	margin-left:5px;
	padding-left:15px;
}

 .ingr-list li {
	list-style-type: none;
}
.ingr-list li:before{
	content: "- ";
}

 .direct-list li {
	list-style-position: inside;
}

 ol{
     counter-reset: listCounter;
     list-style: none;
}

 .direct-list li{
     counter-increment: listCounter;
}

 .direct-list li:before{
     content: counter(listCounter) ") ";

 }