body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }


header {
display: flex;
background-image: url(./apple-pie.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: 95% auto;
align-items: center;
justify-content: center;
padding-top: 400px;
position : relative;
color: white;
 
}

H1 {
    text-align: center;
    margin-bottom: 400px;
    padding-top: 0;
    
}

H2 {
  font-size: 1em;
  color: black;
}
#story {
  display:flex;
  padding: 0px 0;
  margin:0px 100px  auto;
  font-size:1.5em;
  color: grey;
  align-items: center;
  flex-direction: column;

}
.ingredients {

  padding: 10px 0;
  margin:50px 100px  auto;
  font-size:1.2em;
  color: grey;
 
} 

.directions{
  padding: 1px 0;
  margin:1px 100px  auto;
  font-size:1.2em;
  color: grey;
}

#image1{
height: 50px;
width: auto;
align-items: center;


}
#image2 {
margin:0 160px;
height: 50px;
width: auto;
align-items: center;
}


