.apple-bowl{
  background-image:url(https://i.ibb.co/d5y59k5/apple-pie.jpg);
  background-repeat: no-repeat;
  height:100%;
  font-size:30px;
  color:white;
  text-align: center;
  line-height:500px;
}
.grandmother {
  font-size:28px;
  font-type: arial;
  text-align:center;
  word-spacing:6px;
}
.calories{
  display:block;
  margin-left:650px
}

.ingredient{
  font-size:28px;
    text-align:left;
  margin-left:200px;
  word-spacing:6px
}
.recipe{
  list-style-type:none;
}
.recipe > li {
  text-indent: -5px;
}
.recipe > li:before {
  content:"-  ";
  text-indent: -5px;
}
.prep-time{
  display:block;
  margin-left:650px
}
.directions{
  font-size:28px;
    text-align:left;
  margin-left:200px;
  margin-right:200px
}
.oven{
  list-style-type:none;
counter-reset: number;
}
.oven > li{
  text-indent:5px;
}
.oven > li:before{
  counter-increment: number;
  content: counter(number)") ";
}          
