/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
#apple {
  background-image: url("../images/apple-pie.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;

  margin: 0 auto;
}

main {
  max-width: 80vw;
  text-align: left;
  margin: 0 auto;
}

h2 {
  margin-top: 25px;
}

h1 {
  font-size: 150px;
  color: white;
  margin: 0 auto;
}
p {
  margin-top: 50px;
  padding: 25px;
}
#recipe {
  height: 80px;
  background-position: center;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
