* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffedd5;
}
ul {
	list-style: none;
}
header {
	padding: 32px 0;
	text-align: center;
}
header,
section {
	max-width: 300px;
	margin: 0 auto;
}
header h1 {
	margin-bottom: 4px;
}
header h1 span {
	background-color: #995000;
}
section {
	margin-bottom: 24px;
}
section h2 {
	background: #fed7aa;
	padding: 8px 16px;
	text-align: center;
	margin-bottom: 24px;
}
ul li {
	margin-bottom: 16px;
	display: flex;
}
li .details {
	max-width: 240px;
}
.details h3 {
	margin-bottom: 8px;
}
li .price {
	margin-left: 170px;
}
