* {
  color: grey;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed li {
  text-indent: -5px;
}
ul.dashed li:before {
  content: "-";
  text-indent: -5px;
}

div {
  background-image:
      url("apple-pie.jpg");
}
