h1, body, html, main {
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

header {
  height: 600px;
  width: 100%;
  background-image: url(/images/soup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 15%;
}

.text {
  text-align: justify;
  padding: 5% 5%;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}