/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.header{
  background-image: url(/images/soup.jpg);
}
h1{
  color:white;
  text-align: center;
  
}