main{
    background-color: grey;
    box-shadow: 2px grey;
}

.title {
    width: 80%;
    height: 100px;
    background-color: rgb(79, 170, 79);
    color: white;
    margin: 10px 10px 40px 20px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(0, 71, 0);
}

.title h1 {
    text-align: center;
}

.text{
    background-color: rgb(82, 82, 180);
    color: white;
    padding: 10px;
}