/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
/*Make the <hr>s a little thicker*/
hr {
    border: none;
    height: 3px;
    background-color: #808080; /* Modern Browsers */
}

.banner-heading {
  height: 500px;
  width: 100%;
  position: relative;
  background-image: url("../images/soup.jpg");
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: contain;
}

.main-heading {
  text-align: center;
  font-size: 5rem;
  color: white;
  font-weight: 300;
  width: 75%;
  height: 25%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.container {
  padding: 0 175px;
}

section {
  font-size: 1.3rem;
}

.cooking-info {
  padding: 60px 0;
}

.info {
  font-size: 26px;
}

.details {
  padding: 40px 0;
}

.direction-image {
  height: 65px;
  width: 350px;
  display: block;
  margin: auto;
}

.ingredient-list, .info {
  margin-bottom: 40px;
}

.ingredient-list, .direction-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.ingredient-list > li {
  padding-left: 1em;
  text-indent: -1em;
}
.ingredient-list > li:before {
  content: "-";
  padding-right: 2px;
}
/*For styling the ol*/
/*http://blog.teamtreehouse.com/customize-ordered-lists-pseudo-element*/

.direction-list > li {
  counter-increment: step-counter;
}

.direction-list > li:before {
  content: counter(step-counter)")";
  padding-right: 3px;
}
