body {
  margin: 5% 15%;
  color: gray;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

#main {
  margin-left:  5%;
  margin-right:  5%;
}

#header {
  background-image: url('https://static.pexels.com/photos/34950/pexels-photo.jpg');
  text-align: center;
  color: white;
  height: 400px;
}

#headertext {
  padding-top: 180px;
  font-weight: lighter;
}

#description {
  padding: 20px;
  border-bottom-width: 10px;
  border-bottom-color: gray;
}



img {
  width: 400px;
  margin: auto;

}

#ingredients {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px;
}
