@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,400,500,600,700');


*{ 
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

h1 {
  font-size: 6em;
  font-weight: 400;
}

h4 {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 1.2em;
}

.Head {
  background-image: url("../images/soup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
}

.center {
  text-align: center;
  line-height: 100vh;
}

.width {
  width: 75%;
  margin: 0 auto;
}

.introduction {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.3em;
  font-weight: 300;
}

.paragraph {
  padding: 70px 0;
}

.ingredients {
  font-size: 1.6em;
  line-height: 1.3em;
  padding: 40px 0;
  font-weight: 300;
  text-align: center;
}

.ingredients li {
  list-style-type: none;
  list-style-position: inside;
}

.cooking {
  font-size: 1.6em;
  line-height: 1.3em;
  padding: 40px 0 70px 0;
  font-weight: 300;
}

.right {
  text-align: left;
}
.cooking li {
  list-style-type: decimal;
  list-style-position: inside;
}

img {
  width: 400px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(128, 128, 128);
    margin: 1em 0;
    padding: 0; 
}

.margin {
  margin-left: 20px;
  padding-bottom: 60px;
}
