body {
    font-family: 'Quicksand', sans-serif;
}

#top-image img {
    width: 100%;
    height: 500px;
}

.img-txt {
    color: #fff;
    font-size: 5em;
    position: absolute;
    top: 275px;
    left: 310px;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.recipe-info {
    position: relative;
    height: 70px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.ingredients {
    margin-left: 15px;
    font-size: 18px;
}

.cooking-info {
    position: relative;
    height: 90px;
    margin-top: 20px;
    margin-left: 175px;
    margin-bottom: 10px;
}

.directions {
    margin-left: 15px;
    margin-bottom: 100px;
}
