html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

/*body {
  font-family: helvetica neue;

}*/

h1 {
  font-size: 68px;
  font-weight: 300;
}

#first {
  border-top: none;
  margin-top: 80px;
}

.main {
  font-size: 72px;
  color: white;
  padding-top: 150px;
  text-align: center;
  height: 350px;
  width: 900px;
  margin: auto;
  background: url(../images/soup.jpg);
  background-size: 100%;
}

h2 {
  color: rgba(0,0,0,.7);
  font-size: 20px;
}

.text {
  border-top: solid 1px rgba(0,0,0,.4);
  font-size: 20px;
  color: rgba(0,0,0,.6);
  width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  border-top: solid 1px rgba(0,0,0,.4);
  font-size: 18px;
  color: rgba(0,0,0,.6);
  width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -30px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

.info {
  background: url(../images/recipe-info.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  height: 80px;
  width: 320px;
}

.info2 {
  background: url(../images/cooking-info.png);
  background-size: 100%;
  margin: auto;
  height: 50px;
  width: 300px;
}
