/*Some necessary adjustments*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, body, html, main {
    margin: 0;
  }
  /*Import the font and set the default size*/
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
.header1 {
    background-image: url("/Users/adrianchaconmadueno/code/lab-css-recipes-clone/starter-code/french-onion-soup-starter-code/images/soup.jpg");
    display: block;
    height: auto;
    text-align: center;
    color: white;
    background-position: 0 0;
    background-size: cover;
    padding: 200px;
    font-size: 48px;
}

img {
    width: 33%;
    align-content: center;
    display: block;
    margin: auto;
}

hr {
    color: black; 
    background-color: black; 
    width:75%;
}

.container {
    padding: 20px 100px;
}

.description {
    text-align: center;
}
