/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.imgn {
  height: 690px;
  background-image: url("../images/soup.jpg");
  background-size: cover;
  padding-bottom: 1em;
}

h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  right: 30%;
  bottom: 50%;
  color: white;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;

}

article {
  padding: 3% 13% 0% 7%;
  font-size: 1.3;
}

.imgprep {
  padding: 0 15em;
}

.containeringredients{
  padding: 3% 13% 0% 13%;
}
