* {
    margin:0;
    padding: 0;
}

header {
background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
position: relative;
background-repeat: no-repeat;
background-position: center;
background-size:100%;
}

header h1{
    color: white;
    text-align: center;
    padding-top: 450px;
    padding-bottom: 450px;
    font-size: 100px;
    font-style: normal;
}

p {
   margin: auto;
   align-items: center;
   flex-direction: row;
   font-size: 30px;
}  

.ingredients {
    margin-top: 30px;
    margin-left: 15%;
    font-weight: 15px;
    font-size: 30px;
}

.removerdots {
    list-style: none;
    margin-top: 15px;
    margin-left: 17%;
    font-size: 30px;
}

.image {
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 2px solid gray;
    border-left: 10%;
    border-right: 10%;
}
.directions {
    margin-top: 30px;
    margin-left: 15%;
    font-weight: bold;
    font-size: 30px;
}
.preparation {
    margin-top: 20px;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 80px;
    font-size: 30px;
    text-align: left;
    flex-direction: column;
   flex-direction: row;
}

