/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 20%;
}

h2 {
  margin-left: -20px;
  margin: 30px 0;
  font-size: 30px;
}

/* STYLES */
/* Write your CSS below */
.header {
  background-image: url("/apple-pie/images/apple-pie.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-bottom: 100px;
}

hr {
  width: 87%;
  height: 3px;
  background-color: black;
}

.article-ingredients,
.article-directions {
  padding-left: 100px;
  line-height: 2;
}

.article-introduction {
  text-align: center;
}

.introduction-text {
  width: 60%;
  margin: 0 auto;
  font-size: 22px;
  margin-bottom: 60px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.7px;
}

.ingredients-list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 20px;
}
.center-img {
  text-align: center;
}

.directions-list {
  width: 90%;
  padding: 0 50px 100px 30px;
}
