
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: proxima;
    font-size: 16px;
    font-weight: 100;
    font-family: "Montserrat";
}


header {
    background-image: url("/apple-pie/images/apple-pie.jpg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 500px;
}

h1 {
    color: white;
    text-align: center;
    line-height: 500px;
    font-size: 60px;
    margin-top: 0px;
}

h2 {
    font-size: 20px;
}

div {
    width: 75% ;
    margin:auto;
    padding: 20px 0px;
}
.info {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: "- ";
}

ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}

.intro {
    border-bottom: 1px solid black;
    margin-top: 50px;
}

.ingredients {
    border-bottom: 1px solid black;
}

.directions {
margin-bottom: 100px;
}



