body {
    margin:0; 
    font:400 130%/1.5 Helvetica, sans-serif; 
    padding-bottom:5em; 
    font-family: 'Poppins', sans-serif;
  }
  
  
  .container {
    width:70%;
    margin-left:auto;margin-right:auto;
  }
  
  section h2 {
    font-weight:normal; 
  
    border-top:3px solid #bbb; padding-top:1em;
  }
  
  h1 {
   
  
    margin-top:0;margin-bottom:0;
    font-weight:normal;
    
    font-size:300%;
    
    background:url("../images/apple-pie.jpg") center no-repeat; background-size:cover;
    color:white;
  
    padding-top:250px;padding-bottom:250px;
    text-align:center;
  }
  
  header p {
    margin-top:2.5em;
    
  }
  

  
  header img,
  #ingredients img {
    display:block; margin-left:auto;margin-right:auto; 
    margin-top:2em;margin-bottom:2em;
  }
  header img {height:4em;}
  #ingredients img {height:5em;}
  