/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

h1 {
	font-size: 60px;
	padding-bottom: 80px;
	font-weight: 500;
}

/*  Set the font */
body {
	font-family: "Open Sans", sans-serif;
}

/* STYLES */
/* Write your CSS below */

header {
	background-image: url(../images/apple-pie.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	margin: 60px;
}

h3 {
	margin: 20px auto;
	font-weight: 400;
}

#recipe-info-container {
	text-align: center;
	margin: 20px auto;
}
#recipe-info {
	height: 60px;
}

#cooking-info-container {
	text-align: center;
}
#cooking-info {
	height: 80px;
	margin: 20px auto;
}

ul {
	list-style-type: "-";
	font-weight: 300;
	margin-left: 20px;
}

ol {
	list-style-type: none;
	font-weight: 300;
	margin-left: 20px;
}
ol > li {
	counter-increment: listcounter;
}
ol > li::before {
	content: counter(listcounter) ")";
}
