/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

.Img {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  height: 600px;
  color: white;
  margin-bottom: 50px;
}

.text-in-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  color: #fff;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  text-align: justify;
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.cooking-instruction {
  background-color: white;
  background-image: url("../images/recipe-info.png");
}
.recipe-info img {
  display: flex;
  margin: 0 auto;
  /* border: 2px solid red; */
}
/* Default title formatting */

.default.title.formating {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  text-align: justify;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}

.default.paragraph.formatting {
  display: flex;
  text-align: justify;
  margin: 0 auto;
  padding: 20 px;
  width: 60%;
}

/* STYLES */
/* Write your CSS below */
