* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #202020;;
    max-width: 700px;
    padding-left: 400px;
}
.container-background{
    background-color: white;
    padding: 80px;
}
header {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
header > h1 {
    position: absolute;
}
header > img {
    height: 450px;
    width: 100%;
}
.list {
    list-style-type: none;
    padding-right: 8px;
}
.img-info {
    width: 18rem;
    padding: 1rem;
    padding-left: 150px;
}
hr {
    border-top: 1px solid darkgrey;
}