@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 5rem;
  padding: 0;
}

header {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: calc(100vw - 10rem);
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  color: white;
  font-size: 4rem;
  font-weight: 300;

}

.section h2 {
  font-size: 1.25rem;
}

.section {
  margin: 2rem;
}

#intro {
  margin: 2rem 0;
}

#intro img {
  height: 3rem;
}

#ingredients img {
  height: 4rem;
}

#intro div,
#ingredients div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredients ul {
  list-style-type: "- ";
  padding-left: 1.5rem;
}

#directions ol {
  counter-reset: my-awesome-counter;
  list-style-type: none;
  padding-left: 1.5rem; 
}

#directions ol li {
  counter-increment: my-awesome-counter;
}

#directions ol li::before {
  content: counter(my-awesome-counter) ") ";
}

