CSS RESET - do not remove
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Certa Sans Extra Light";
  font-weight: lighter;
  /* font-family: "Helvetica", sans-serif; */
  text-align: center;
}

/* STYLES */
/* Write your CSS below */
/* TODO  explain relative and absolute, absolute removed  */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/position */

.pie-image {
  width: 90%;
  height: 60em;
}

header h1 {
  font-size: 60px;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 7em;
}

header p {
  font-size: 22px;
  padding: 1em 8em 1em 8em;
  text-align: left;
}

.recipe-info,
.cooking-info {
  height: 4em;
}

hr {
  width: 75%;
}

#ingredients h2,
ul {
  padding: 1em 8em 1em 8em;
  text-align: left;
  list-style: none;
}

#ingredients li {
  padding: 0.2em 6em;
  font-size: 18px;
}

#ingredients li::before {
  content: "- ";
}

#directions h2,
ol {
  padding: 1em 8em 1em 8em;
  text-align: left;
}

ol {
  list-style: none;
  counter-reset: ordered-list;
}

/* The counter-reset CSS property 
creates named CSS counters and initializes them to a specific value. 
It supports creating counters that count up from one to the number of elements,
 as well as those that count down from the number of elements to one. */
ol li::before {
  content: counter(ordered-list) ")";
  counter-increment: ordered-list;
}

ol li {
  position: relative;
  padding: 0 6em;
  margin: 0.5em;
}
