/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  color: grey;
  font-size: large;
}

/* STYLES */
#apple-pie {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

main {
  padding: 50px 7%;
}

#title {
  position: absolute;
  left: 45%;
  top: 20%;
  color: white;
  font-size: 80px;
}

.sec {
  border-bottom: 3px solid grey;
}

section {
  padding-top: 50px;
}

ul, ol {
  padding: 30px;
}

section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

article {
  font-size: larger;
  color: rgb(72, 72, 72);
}

h3 {
  color: rgb(49, 48, 48);
}

