/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.container {
  background: url("/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  padding: 300px;
  color:white;
  font-size: 150px;
}

hr {
width: 55%;
margin-top: 20px;
margin-bottom: 20px;
}

.intro-text {
display:flex;
justify-content: center;
font-size: 27px;
margin-top: 50px;
margin-bottom: 50px;

}

#recipe-info-img {

  display: block;
  margin: 0 auto;
  width: 450px;
}
  
#cooking-info-img {

  display: block;
  margin: 0 auto;
  width: 450px;
}

h2 {
  margin-top: 35px;
  margin-left: 23%;
  margin-bottom: 35px;
  font-weight: bold;
}

ul {
  margin-left: 24%;
  list-style: none;
  font-size: 20px;
  margin-bottom: 50px;
  font-size: 25px;
}

#directions {
  margin-left: 24%;
  list-style: none;
  font-size: 20px;
  margin-bottom: 5%;
}

ol {
  list-style: none;
  margin-left: 24%;
  font-size: 20px;
  margin-bottom: 100px;
  font-size: 25px;
}

ol > li { 
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
}