.recipes {
	margin: 80px 250px 0px 250px;
	font-family: sans-serif;
}

.container {
	width: 100%;
	height: auto;
	margin: auto;
}

ul li, ol li {
	list-style-type: none;
}

ul li:before {
	content: "- ";
}


ol li:before {
	counter-increment: section;
	content: "" counter(section) ') ';
}


#description {
	align-items: center;
	align-content: center;
	margin: 100px 0px 50px 0px;
	font-size: 20px;
	border-bottom: 2px solid grey;
	color: grey;
	text-align: center;
}

#description, p {
	text-align: left;
}

#description, img {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#description-img {
	align-items: center;
	margin-bottom: 30px;
}

#principal-img {
	background-image: url('../images/apple-pie.jpg');
	background-size: cover;
	font-size: 40px;
	font-family: Helvetica;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: center;
	color: white;
	vertical-align: middle;
	width: 100%;
	height: 500px;
}


h1 {
	padding-top: 220px;
}

#ingredients {
	color: grey;
	border-bottom: 2px solid grey;
	margin: 0px 0px 50px 0px;
	text-align: center;
}

h2 {
	color: black;
	font-size: 20px;
	text-align: left;
	margin-bottom: 35px;
}

#ingredient, li {
	color: grey;
	font-size: 18px;
	text-align: left;
}

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	margin-bottom: 30px;
	counter-reset: section;
}
