body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header  {
   background-image: url(/images/apple-pie.jpg);
   background-position: center;
   background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 5rem;
    padding-top: 300px;
    padding-bottom: 300px;
}

section {
    
    padding: 100px 0px 100px 0px;
    margin: 0 60px;
}

#intro {
    
    display: flex;
flex-direction: column;
align-items: center;
width: 800 px;
justify-content: center;
border-bottom: 2px solid grey;    
};

.recipe-info {
    width: 25px;
   
}

#ingredients {
    border-bottom: 2px solid grey;
}

#ingredients .cooking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}