body {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1 h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
hr {
    width: 80%;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: dark;
}
#header {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../images/apple-pie.jpg");
    background-size: 100%;
    height: 600px;
}
div {
    width: 80%;
}
#introduction {
    padding-top: 40px;
}

.image {
    width: 400px;
}
.ul {
    list-style-type: "-";
}