@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap')
* {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    background-image: url('../images/apple-pie.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header > h1 {
    color: white;
    font-size: 120px;
    font-weight: normal;
  }
  .grandma {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 250px 0 250px;
    border-bottom: solid 5px rgb(221,221,221);
  }

  .grandma > p {
    font-size: 30px;
    color: rgb(116,116,116);
    font-weight: normal;
    padding-bottom: 70px;
  }

  .ingredients {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    margin: 0 250px 0 250px;
    border-bottom: solid 5px rgb(221,221,221);
  }

  .ingredients > h2 {
    font-size: 30px;
    color: rgb(93,93,93);
    padding-bottom: 50px;
  }

  .ingredients > ul {
    list-style-type: none;
    font-size: 24px;
    color: rgb(116,116,116);
    padding-bottom: 50px;
  }
  
  .ingredients > img {
    display: flex;
    align-self: center;
  }

  .directions {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    margin: 0 250px 0 250px;
    border-bottom: solid 5px rgb(221,221,221);
  }
  
  .directions > h2 {
    font-size: 30px;
    color: rgb(93,93,93);
    padding-bottom: 50px;
  }
  
  .directions > ol {
    font-size: 24px;
    color: rgb(116,116,116);
    padding-bottom: 50px;
  }