@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
@counter-style cs-extends {
  system: extends decimal;
  suffix: ") ";
}
html,
body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("../images/apple-pie.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: white;
  font-family: "Roboto";
}
h1 {
  font-size: 5em;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
h3 {
  font-weight: 501;
  font-size: 25px;
}
#cooking {
  margin: auto;
  padding: 20px 100px;
}
.aclaracion {
  font-size: 1.3em;
  font-weight: 500;
  text-align: justify;
}

img {
  width: 60%;
  display: block;
  margin: auto;
}
#ingredientes ul {
  list-style-type: "- ";
}
/* */
ol > li {
  line-height: 1.5;
  text-align: justify;
}

ol {
  list-style: cs-extends;
}
.listas {
  padding: 20px 100px;
}

li {
  font-size: 20px;
}
