{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial";
    padding-bottom: 50px;
  }
header {
  background: url("../images/apple-pie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 42pt;
}
#recipe{
    align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 170px;
}
#recipe > article {
    text-align: center;
    width:41em;
    font-size: 16pt;
    color: rgb(49, 49, 49);
  }
  .servings{
      height: 45%;
  }
  .cooking{
    height: 10em;   
    align-items: center;
    display: flex;
    justify-content: center;
  }
 #Ingredients{
     font-size: 16pt;
     margin: auto;
      width: 75%;
      color: rgb(49, 49, 49);
 }
 ul{
  list-style: none;
 }
 #Ingredients > h3{
  margin: 20px 0;
 }
 #directions{
    font-size: 16pt;
    margin: auto;
     width: 75%;
     color: rgb(49, 49, 49);
 }
 #directions >h3{
  margin: 20px 0;
 }