@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');



* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat';
  line-height: 1.5em; 
}


h1, h2, h3 , h4 , h5, h6, li, p{
  font-family:'Montserrat' sans-serif;
  line-height: 1.5em;
  font-weight: lighter;

}

li{
font-size: 30px

}

header{
  background-image: url(../images/apple-pie.jpg);
  width: 100%; 
  height: 1200px;   
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: normal;
  color: white;
}

h1{
  font-size: 140px;
  text-align: center;
  line-height:1200px;
  font-weight: 100;
}

p, h3{
  font-size: 38px;
}
 

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
  
}

.container {

  margin: 100px 10% ;
  text-align: left;


  }

hr {
  border-bottom: grey 2px solid;
}

 


  ul li{
    list-style: none;
    padding-left: 0;
  }
  
  ul > li {
    margin-left: 15px;  
  }
  
  ul > sec2 li::before {
    content: "-";
 
  }