@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

div {
  margin: 0 9rem 0 9rem;
}

body {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

p {
  justify-content: center;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

ul li:before {
  content: "\2013";
  position: absolute;
  margin-left: -20px;
}

.h2 {
  border-top: solid;
  border-color: #b3b3b3;
  padding-top: 2rem;
}

.cookdetail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  background-image: url("/apple-pie/images/apple-pie.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 5em;
  line-height: 7em;
  font-weight: 1;
}