header{
    position:relative;
    text-align:center;
    color: white;
    width: 2000px; 
    height: 400px; 
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
    


main {
    width: 50%;
    margin: 0 auto;
}

body{
    font-family: Geneva;
}

h1{
    position:absolute;
    top:100%;
    left:100%;
    transform:translate(-50%,-50%);
  
  
}



#applepie {

    
    margin: -50px 10px 50px -50px;
   
    height: 600px; 
    overflow: hidden;
    
}




.first-section{
    text-align: center;
 
}

#recipe-img{
    height: 50px;
    
}


ul {
    list-style-type: none;
  }
  
  ul > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
  }

  hr {
      align-items: center;
      width: 100%;
  }

  #cooking-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  }