h1,
body,
html,
main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgb(87, 86, 86);
}

.main-image {
  width: 100vw;
  height: 100vh;
}

.cover-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.container {
  margin-top: 60px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 60px;
}
.description {
  display: block;
  padding-bottom: 100px;
  font-size: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 20px;
}

.logo {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 180px;
  padding-top: 80px;
}

ul li {
  list-style-type: "- ";
}
li {
  line-height: 1.5;
}
ul {
  padding-bottom: 100px;
}

ol {
  counter-reset: list;
}

ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}