
 h1, h2, p, li{
    font-family: 'Montserrat', sans-serif;;

}

h1{
    display: flex;
    justify-content: center;
    font-size: 120px;
    font-weight: 300;
    color:white;
    background-size: cover;
    text-align: center;
    padding-top: 300px;

}

h2{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

p, ul, ol{
    font-size: 40px;
    font-style: 300;

}




header{
    display: block;
    justify-content: center;
    background-image: url(/images/apple-pie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 85em;
    background-size: cover; 
    width: 100%;
    text-align: center;
}

.text-info-recipe{
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    text-align: left;
    font-size: auto;
    position: relative;
    text-size-adjust: auto;

}



.border-bottom-recipe, .border-bottom-ingredients{   
    border-bottom: 3px solid grey;
}

main{
 margin: 50px 50px;
}

.img-recipe, .img-cooking{
    display: block;
    margin: auto;  
    min-width: 200px;
    max-width: 30%;  
}

ul{
    margin: 30px;
}

.item-ul{
    list-style-type:"- ";
    margin-left: 30px;
    mar
    font-style: none;

}

ol{
    list-style: none;
}

ol > li{
    counter-increment: listcounter;
}

ol > li::before{
    content: counter(listcounter) ")";
}




