

body{
  margin:3rem;
  padding:0;
}

.applepie{
  height: 50rem;
  width: 100%;
  border:1px solid black;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.applepie h1 {
  color: white;
  text-align: center;
  margin-top: 18%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  position: absolute;
  margin-left: 45%;
}

#description {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:20px;
}
