

#cover img {
    margin-top: -160px;
    margin-left: 0;
    width: 83%;
}


#cover p {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: -1400px;
    margin-left: 622px;
    padding-top: 300px;
    padding-bottom: 345px;
    font-size: 150px;
    
    
    
}


#introduction {
    position: relative;
    background-color: white;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 220px;
    padding-bottom: 50px;
    font-size: 45px;
    width: 1500px;
    margin-left: 0px;
}


body{
    font-family: 'Roboto', sans-serif;
    width:2300px;
}

hr {
    margin-left: 200px;
    width: 1540px;
}

.imgcenter {
    display: block;
    width: 30%;
    height: auto;
    margin-left: 650px;
    margin-right: auto;
    margin-bottom: 45px;
}

h2{
    font-size: 45px;
    font-style: bold;
    margin-left: 200px;

}

body div{
    font-size:40px;
    margin-left: 200px;
}

.dotlist {
    list-style-type: '- ';
    margin-left: 45px;
}

.directiontext {
    width: 1580px;
    margin-left: 225px;
}

/*
ol > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
  }
*/

ol > li:before {
content: counter(list) ") ";
counter-increment: list;
}