


/* #over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
} */

.grandmother {
    position: relative;
    text-align: center;
}

.first {
    display: flex;
    justify-content: center;
    
}

ul li {
    list-style-type: "-";

}

ol {
    counter-reset: list;
}

ol > li {
    list-style-type: none;

}

ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;

}

 /* Container holding the image and the text */
 .img-apple {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  .img-recipe {
    display: block;
    margin-left: 195px;
    margin-right: 195px;
  }

  .img-recipe {
    display: block;
    margin-left: 195px;
    margin-right: 195px;
  }

  .ingredients {
    display: block;
    margin-left: 195px;
    margin-right: 195px;
  }
