/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

/* .recipe-info, .cooking-info{
  margin-left: 30%;
}


.description {
  margin: 100px 100px 100px 100px;
  text-align: justify;
}

.ingredients {
  color: aquamarine;
}
*/
#header {
  color: white;
  background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
  padding: 500px 500px 500px 500px;
  text-align: center;
  font-size: 150px;
}
ul {
  list-style-type: none;
}

ol {
  list-style: none;

}

ol > li {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ") ";
}

section{
  margin: 50px 100px 20px 100px;

}
.directions {
  margin-bottom: 50px;
}
hr{
  margin: 0px 100px 0px 100px;;
}
.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.section-content {
  margin-left: 20px;
}
.section-title {
  margin-bottom: 20px;
}