.header{
    text-align: center;
    height: 800px;
    color: white;
    font-size: 200px;
    padding-top: 500px;

    background-image: url(../images/apple-pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph{
    width: 870px;
    margin: 50px 70px 50px 70px;
    font-size: 28px;

}

.reciptPicture{
    width: 400px;
    margin: 0 70px 50px 70px;
    padding: 0 195px 30px 195px;
    border-bottom: 1px solid grey;
    
}

h2{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 30px 70px;
}

.ingredientsList{
    padding: 0 70px 50px 70px; /*Preguntar aquí perque el padding és diferent al margin*/
    list-style-type: '- ';
}

.cookingPicture{
    width: 300px;
    margin: 0 70px 50px 70px;
    padding: 0 195px 30px 195px;
    border-bottom: 1px solid grey;
}

.stepsList{
    padding: 0 70px 50px 70px;
    font-size: 22;
}