.header-image.flex {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  padding-top: 50px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image h1 {
  color: white;
  font-size: 4.5rem;
}

.header article.intro {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.header article.intro h3 {
  font-size: 1.4rem;
  margin-top: 70px;
}

img.cooking-info {
  margin: auto;
  width: 300px;
  display: block;
  margin-top: 70px;
}

hr {
  margin: 40px 0;
}

.ingredients-section h2,
.directions-section h2 {
  margin: 20px 0;
}

body section:last-child {
margin-bottom: 80px;
}
.ingredients .ingredient,
.directions .direction{
  padding-left:20px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}