* {
  text-align:;
  font-family: OpenSans;
  font-size: 1em;
  }
  
  .bannerText{
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
    top: 40%;
  }
  
  .header {
      background-image: url("../images/apple-pie.jpg");
   background-size: cover;
   max-width: 1600px;
   height: 300px;
   margin-bottom: 50px;
   }
  
  
  
  h2 {
    margin-left: 2em;
  }
  
  .ingredients{
    text-align: left;
    margin-left: 80px;
  }
  
  
  ul {
    list-style-type: none;
  }
  
  ul li:before {
    content: '\2014';
    position: relative;
    margin-left: 0px;
  }
  
  .ings{
    margin-left: 100px;
  }
  
  
  .recipeInfo{
    text-align: center;
    padding: 20px;
  }
  
  hr {
    height: 2px;
    background-color: grey;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
  }
  
  .paragraph1 {
    text-align: center;
    margin: 80px;
  }
  
  
  .directions {
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }