

/*header = background-image + text*/

.header {
  width: 100%;
  height: 700px;
  background: url(../images/apple-pie.jpg) no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 700px;  
  font-size: 4em;
}


/*Introduction to recipe ingredients: bold for title*/
.secondaryheaders {
  font-weight: bold;
}

/*Introduction to recipe directions: bold for title*/
directions-header

/*img tag: centered*/
.text-image {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}