body {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}
h1 {
  font-size: 65px;
  position: absolute;
  top: 150px;
  left: 38%;
  color: white;
  font-weight: 300;
}
h2 {
  font-weight: 400;
}

.container {
  width: 100%;
  margin: auto;
}
.headerimg {
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.headerimg img {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
}

#recipecontent {
  width: 75%;
  margin: auto;
  padding: 50px;
}

.preface {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.infoimgs img {
  width: 50%;
  margin: auto;
  display: block;
  padding: 15px 0;
}
.ingredients {
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.ingredients li {
  list-style-type: none;
}

.ingredients > li:before {
  content: "-";
  text-indent: -5px;
}

ol li {
  padding: 5px 0;
}

li {
  font-weight: 200;
}
