/* header */

header h1 {
    background-image: url(apple-pie.jpg);
    background-size: cover;
    padding: 300px 200px;
    text-align: center;
    color: white;
    font-size: 80px;
}

header p {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

.header-img {
    margin-left: 530px;
    margin-bottom: 50px;
}

/* ingredient and direction*/

.text-position {
    text-align: left;
    margin-left: 350px;
    padding-top: 50px;
}

#ingredient ul {
    font-size: 20px;
    list-style-type: none;
}

#ingredient ul li:before {
    content: "-";
}

#ingredient img {
    margin: 30px 0px 40px 230px;
}

#direction ol {
    font-size: 20px;
    padding-bottom: 100px;
}