
header {
  height: 600px;
  width: 662px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 662px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

header img {
  height: 600px;
  width: 662px;
  position: absolute;
  z-index: -1;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 100;
}

#recipe-info-size1 {
  height: 50px;
}

#recipe-info-size2 {
  height: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 52px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
}

ul.dashed {
  list-style-type: none;
}

#overIt li:before {
  content: " - ";
}
