* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.box-1 {
  text-align: center;
  margin: 0 5rem;
}

.box-title {
  background-image: url("../images/apple-pie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1047px;
}

.title-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  color: #FFF;
  font-size: 13rem;
  color: #FFF;
  padding-top: 47rem;
  font-weight: lighter;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 3.5rem;
  text-align: left;
  padding: 0 19rem;
  margin: 8rem 0 4rem 0;
  line-height: 4rem;
}

.box-2 {
  margin: 3rem 24rem 0;
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  padding: 6rem 0;
}

.title-2 {
  font-size: 3.8rem;
  color: #000;
  margin-bottom: 3.5rem;
}

.list-ingredients {
  padding-left: 2rem;
}

.ingredient {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 0.7rem;
}

.ingredient:before {
  content:"- ";
}

.box-2-image{
  display: block;
  margin: 4rem auto 0;
}

.box-3 {
  margin: 0 24rem;
  padding: 6rem 0;
}

.title-3 {
  font-size: 3.8rem;
  color: #000;
  margin-bottom: 5rem;
}

.list-steps{
  counter-reset: list;
  padding-left:2rem;
}

.step {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 0.7rem;
  line-height: 3rem;

}

.step:before {
  content: counter(list, decimal) ") ";
  counter-increment: list;
}
