body{
    font-family: sans-serif;
    color: #5d5b5b;
}
h1{
    background-image: url(../images/apple-pie.jpg);
    height: 700px;
    background-position: center;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    background-size: cover;
    font-weight: normal;
}

.text-intro{
    margin: 90px auto;
    font-size: 25px;
    text-align: left;
    max-width: 900px;
}
img{
    margin: 0 auto;
    display: flex;
    max-width: 450px;
    margin-top: 30px
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
section{
    border-top: 1px solid black;
    padding-top: 30px;
    margin-top: 30px;
}
