/* COMMON RULES */
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.container {
	margin: 0 auto;
	width: 60%;
}
.container h3 {
	font-weight: 300;
	font-size: 1.8rem;
	margin: 50px 0 25px;
}
.container img {
	display: block;
	margin: 50px auto 30px;
}
hr {
	border: none;
	height: 3px;
	background-color: #989898;
}

/* HEADER */
header {
	background-image: url('../images/apple-pie.jpg');
	background-size: cover;
	background-position: center 25%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.recipe-title {
	margin: auto;
	color: white;
	font-weight: 300;
	font-size: 6rem;
}

/* RECIPE DESCRIPTION */
.rcp-description {
	margin-top: 70px;
}
.rcp-description p {
	font-size: 1.8rem;
	font-weight: 100;
	line-height: 1.5;
}
.rcp-description img {
	width: 45%;
}

/* RECIPE INGREDIENTS */
.rcp-ingredients ul {
	list-style-type: none;
	padding-left: 2em;
	margin-left: -2rem;
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 1.5;
}
.rcp-ingredients img {
	width: 40%;
}

/* RECIPE DIRECTIONS */
.rcp-directions {
	margin-bottom: 100px;
}
.rcp-directions ul {
	list-style-type: none;
	padding-left: 2em;
	margin-left: -2rem;
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 1.5;
}
.rcp-directions h3 {
	margin-bottom: 50px;
}
