.header{
    background-image: url("../images/apple-pie.jpg");
    text-align: center;
    padding:200px;
    margin: 100px;
}

.header h1{
    color:white;
    text-align: center;
    font-size: 100px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    text-align: center;
}

.section2{
    text-align: center;
}