* {
    margin: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: darkgray;

}
header {
    height: auto;
    background: #6DB3F2 url('./../images/apple-pie.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 800px;
    justify-content: center;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.2);
}

ul, ol, h2, p, hr {
    margin: 50px 15% 50px 15%;
    text-justify: auto;
    text-align: left;
    font-size: 20px;
}

p {
    font-size: x-large;
    font-weight: lighter;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
}

h2 {
    font-size: x-large;
    color: grey;
}

ul > li {
    list-style-type: none;
}

ul > li::before {
    content: "- ";
}

ol > li {
    list-style-type: none;
}
ol > li::before {
    content: counter(list) ") ";
    counter-increment: list;
}

ol {
    counter-reset: list;
}

.imginfo {
    text-align: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
