body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

header {
  background-image: url("../images/apple-pie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 30px 200px 30px; 
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.4em;
  padding-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

section {
  width: 65%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid grey;
  
}

img {
  width: 50%;
}

section figure {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

ul {
  margin-left: 15px;
}

li {
  padding-top: 10px;
}

ul li:before {
  content: "- ";
}

ol {
  margin-left: 40px;
}

ol li {
  list-style-type: decimal;
}

