.lista {
  list-style-type: none;
}

.header {
  background-image: url(../images/apple-pie.jpg);
  padding: 300px;
  position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text-header {
  color: white;
  text-align: center;
  font-size: 70px;

}
#introduction .first-div {
  width: 80%;
  margin: 0 auto;  
}
#introduction p {
  font-size: 30px;
}
#introduction .second-div {
  text-align: center;
}
#ingredients  .first-div {
  width: 80%;
  margin: 0 auto;  
}


#ingredients  .second-div {
  text-align: center;
  
}
#ingredients  h2, ul {
  font-size: 30px;  
}

#instructions .first-div {
  width: 80%;
  margin: 0 auto;  
}
#instructions  h2, ol {
  font-size: 30px;  
}
.line{
  width: 80%;
}