header {
    background-image: url(../images/apple-pie.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}

h1 {
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 20%;
    left: 30%;
}

.totalapple {
    margin-left: 5%;
    margin-right: 5%;
}

.second-apple p {
    text-align: center;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    font-size: 24px;
}

.img-recipes {
    width: 25%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 37%;
}

.img-rec2 {
    width: 25%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 38%;
}

h3 {
    margin-top: 3%;
}

.third-apple {
    margin-bottom: 2%;
}

ul {
    list-style-type: none;
    margin-left: -36px;
    }


    ol {
        list-style-type: none;
        margin-left: -36px;
        }
    