@import (https://fonts.googleapis.com/css?family=Open+Sans:300,600)
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    background-image: url("../images/apple-pie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header p {
    text-align: center;
    color: white;
    font-size: 5em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.infographic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infographic img {
    width: 45%;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px;
}

img {
    margin-top: 10px;
}

ul, ol {
    line-height: 1.3em;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
}

ul li::before {
    
        content: "-"; 
        padding-right: 4px;
        color: black; 

}

