body {
  font-family: 'Poppins';
}


h1{

}

}

.background-image {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  position: relative;
  box-sizing: border-box;

}