/* general styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82, 81, 81);
}

body hr{
  width: 80vw;
}

/* HEADER */
header {
  color: white;
  position: relative;
}

header h2 {
  position: absolute;
  top: 25%;
  left: 40%;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

header img {
  width: 70vw;
  height: 75vh;
  margin: 0 15vw;
}

/* SECTION 1 */
.section1 p {
  text-align: center;
  width: 50vw;
  margin: 3.5rem auto;
  color: rgb(82, 81, 81);
  font-size: large;
}

.section1 img {
  width: 22vw;
  margin: 0 38vw;
}


/* SECTION 2 */

.section2{
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-width: 90%;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.section2 img{
    width: 30VW;
}

ul>li{
    list-style-type: none;
}



/*SECTION 3 SPECIFICATIONS*/

.section3{
    padding-top: 30px;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
}

.liInSec3{
  width: 50vw;
}