@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto"

}
.header {

  background: url(https://github.com/ironhack-labs/lab-css-recipes-clone/blob/master/starter-code/apple-pie-starter-code/images/apple-pie.jpg?raw=true) 0 0 no-repeat;
  background-size: cover;
  height: 550px;
  position: relative;


}
hr {
    color: gray;
}
h1{
  color: white;
  font-size: 3em;
  text-align: center;
   padding-top: 30%
}
h4{
  text-align:left;
}

section{
    font-size: 1em;
  margin: 10px auto;
  text-align: center;
  width: 70%
  
}

.elements{
 text-align: left; 
  font-size: 0.8em;
 
}
.item{
   list-style-type: none;
}
