
.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:
}

.title{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:200px;
    right: 50%;
}
.principal-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;  
}
.description{
    text-align: justify;
    color: grey;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    right: 60%;
    left:60%;
    width: 60%;
    font-size: 125%;
}
.first-img{
    display: block;
    margin: auto;
}
.ingredients{
    color: grey;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    right: 60%;
    left:60%;
    width: 60%;
    font-size: 125%; 
}
.second-img{
    display: block;
    margin: auto;
}
.directions{
    color: grey;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    right: 60%;
    left:60%;
    width: 60%;
    font-size: 125%;  
}

.line{
    right: 60%;
    left:60%;
}
h2{
    font-weight: bold
}