body {
	margin: 0;
	font-family: "Geneva", sans-serif;
	color: #4e4e4e;
	padding-bottom: 4em;
}

header p {
	margin-top: 2.5em;
	font-size: 1.5em;
}

.container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/*Hero heading*/
h1 {
	background: url("../images/apple-pie.jpg") center no-repeat;
	background-size: cover;
	font-weight: normal;
	font-size: 300%;
	color: white;
	text-align: center;
	padding: 250px;
}

#ingredients h2,
#directions h2 {
	padding-top: 1em;
}
/*info images*/
header img,
#ingredients img {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}
header img {
	height: 4em;
}
#ingredients img {
	height: 5em;
}

#ingredients ul,
#directions ol {
	list-style: none;
	padding-left: 15px;
	font-size: 1.2em;
}
#ingredients li:before {
	content: "- ";
	line-height: 1.3;
}
#directions ol {
	counter-reset: list;
}
#directions li:before {
	content: counter(list) ") ";
	counter-increment: list;
	padding-right: 5px;
}
