body {
margin: 0px;
font-size:large;
}

.topo {  
    background-image:url("../images/apple-pie.jpg");
    height: 300px;
}

.topo h1 {
     text-align: center;

}
.linha {
    border-bottom: 1px solid ;
}