# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../lab-css-recipes-clone\.idea/codestream.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
