

.inicio{
    background-image: url('/home/gustavo/trabalho-css/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0cm;
    
}
h1{
    color:white;
    font-size: 5rem;
    
    
    
}
.info{
    font-size: 30px;
    text-align: center;
    margin: auto;
    width: 25cm;
    opacity: 0.7;
    margin-top: 2cm;
}
img.tempo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10cm;
    margin-top: 25px;
    margin-bottom: 1cm;
    
}
.ingredientes{
    margin-left: auto ;
    margin-right: auto;
    width: 24cm;
    margin-top: 2cm;    
}

.ingre{
    font-size: 30px;
    
}
.prepara{
    margin-top: 1cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9cm;
}
.ulclass{
    font-size: 20px;
    opacity:0.9 ;
}
.direction{
    margin-left:auto ;
    margin-right: auto;
    width: 24cm;
    margin-top: 2cm;
}
h3{
    font-size: 30px;
}

p{
    font-size: 19px;
    opacity: 0.9;
}