/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
.firstdiv {
  background-image: url("../images/soup.jpg");
  height: 130vh;
  width: 100vw;
  padding-top: 90px;
}

h1{
  color: white;
  text-align: center;
}